* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

body {
    line-height: 1.5em;
    text-align: center;
    font-size: 14px;
    font-family: Tahoma, Verdana, sans-serif;
    color: #000;
    background: url(../imagens/bg-body.jpg) repeat-x 0 0
}

.clear {
    clear: both
}

h1,
h1 a {
    font-weight: bold;
    line-height: 23px;
    text-decoration: none;
    margin: 15px 0;
    color: #495679;
    text-transform: uppercase;
    font: 26px tahoma, arial;
    font-weight: bold
}

h2,
h2 a {
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    margin: 15px 0;
    color: #495679
}

h3,
h3 a {
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    margin: 15px 0;
    color: #495679
}

a {
    color: #495679
}

a:hover {
    text-decoration: none
}

header {
    height: 265px;
    background-color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

header .logo {
    float: left;
    background: url(../imagens/logo.jpg) no-repeat center center
}

header .logo a {
    display: block;
    width: 258px;
    height: 190px;
    overflow: hidden;
    text-indent: -99999px
}

header nav {
    clear: both;
    position: relative;
    display: block;
    font-size: 16px;
    width: 100%;
    background-color: #4b587a;
    height: 45px
}

header nav li {
    position: relative;
    float: left
}

header nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 12px 0px 13px 0px;
    width: 125px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    font: 14px tahoma, arial;
    cursor: pointer;
    font-weight: bold;
    transition: all .3s linear
}

header nav a:hover,
header nav li:hover a {
    color: #000;
    background: #D3D3D3
}

header nav table {
    border-collapse: collapse;
    position: absolute;
    left: 0;
    top: 0
}

header nav .dropdown .sub-menu {
    display: none;
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 5px;
    margin: 0;
    height: 45vh;
    width: 200px;
    z-index: 3;
    background: #D3D3D3
}

header nav .dropdown:hover .sub-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

header nav .dropdown:hover .sub-menu li {
    position: static;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex
}

header nav .dropdown ul li.dropdown .sub-menu::-webkit-scrollbar {
    width: 12px
}

header nav .dropdown ul li.dropdown .sub-menu::-webkit-scrollbar-track {
    background: #999;
    border-radius: 5px
}

header nav .dropdown ul li.dropdown .sub-menu::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px
}

header nav .dropdown ul li.dropdown .sub-menu::-webkit-scrollbar-thumb:hover {
    background: #005fff
}

header nav .dropdown:hover .sub-menu li a {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 14px;
    padding: 5px 10px;
    text-align: left;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: none;
    font-weight: normal
}

header nav .dropdown:hover .sub-menu li a:hover {
    background: #005fff;
    display: flex;
    color: #fff
}

header nav .dropdown ul li.dropdown .sub-menu li {
    width: 50%
}

header nav .dropdown ul li.dropdown .sub-menu li a {
    color: #000;
    background: none
}

header nav .dropdown ul li.dropdown .sub-menu {
    display: none;
    position: absolute;
    background-color: #e0e0e0;
    top: 0px;
    left: 200px;
    overflow-y: scroll;
    margin: 0;
    height: 45vh;
    width: 40vw;
    z-index: 3
}

header nav .dropdown ul li.dropdown:hover .sub-menu {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.header nav .dropdown:hover .sub-menu ul li a span.category {
    display: block;
    font-weight: bold;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
    width: 220px
}

.sidebar {
    margin: 0;
    padding-top: 15px;
    order: 1
}

.sidebar h3,
.sidebar h3 a {
    margin: 4px 0 0px;
    padding: 2px 0;
    border-radius: 0 !important
}

.sidebar h3 a {
    color: #eee;
    background: #666666;
    display: block;
    padding: 12px 10px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.contact-column {
    text-align: center;
    color: #485575;
    font-size: 12px;
    margin: 15px 0
}

.contact-column strong {
    font-size: 20px
}

.column-right {
    float: right;
    width: 181px;
    margin: 5px 0 0 10px;
    padding: 5px
}

.column-right .parceiros h4 {
    color: #485575;
    font-size: 20px;
    margin: 15px 0px
}

aside {
    float: left;
    width: 200px;
    padding: 10px;
}

.banner-contato {
    width: 200px;
    padding: 20px 0 0 0
}

.banner-contato a {
    width: 179px;
    height: 50px;
    margin: 12px auto 0;
    display: block;
    text-indent: -9999px
}

.contato {
    text-align: center;
    color: #465576
}

.contato h3 {
    color: #465576
}

ul.cssmenu {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 1em;
    list-style: none;
    width: 200px;
    border-bottom: 4px solid #656659;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

ul.cssmenu li {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    background: #b5bdc0;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

ul.cssmenu li a {
    line-height: 23px;
    font-size: 12px;
    padding: 10px 5px;
    color: #000;
    display: block;
    text-decoration: none
}

ul.cssmenu li a:hover {
    background: #3b4348;
    color: white;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

ul.cssmenu ul {
    margin: 0;
    padding: 0;
    display: none;
    border-right: 1px solid #a2a194;
    border-left: 1px solid #a2a194
}

.cssmenu ul li a:before {
    content: '\00BB';
    left: 10px;
    color: #000;
    margin-right: 10px
}

.cssmenu a:before {
    content: '\00BB';
    left: 10px;
    color: #000;
    margin-right: 10px
}

ul.cssmenu ul li {
    margin: 0;
    padding: 0;
    clear: both;
    background: #b5bdc0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom: 1px solid #d4d4d4;
    background: linear-gradient(#f7f7f7 0%, #ececec 100%)
}

ul.cssmenu ul li a {
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    outline: 0;
    color: #000
}

ul.cssmenu ul ul li a {
    padding-left: 40px;
    line-height: 18px
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    text-align: left
}

.wrapper-topo {
    width: 100%;
    max-width: 100%;
    background: #fff
}

section {
    float: left;
    width: 100%;
    padding: 0;
    background-color: #fff;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center
}

section h2 {
    width: 100%;
    padding: 0 20px
}

section h3 {
    width: 100%;
    padding: 0 20px
}

section h1 {
    width: 100%;
    padding: 0 20px
}

section p {
    width: 100%;
    padding: 0 20px
}

article {
    float: right;
    width: 700px;
    padding: 1em;
}

article p {
    margin: 1.5em 0
}

article strong {
    font-weight: normal
}

.content-index {
    float: right;
    padding: 1em
}

.services {
    width: 960px
}

#breadcrumb {
    display: inline-block;
    clear: both;
    width: 100%;
    color: #333;
    font-size: 11px;
    margin: 10px 0;
    padding: 0 20px
}

#breadcrumb div {
    display: inline
}

#breadcrumb a {
    color: #777;
    text-decoration: underline
}

#breadcrumb a:hover {
    color: #444;
    text-decoration: none
}

.list {
    margin: 0 0 20px 40px
}

.list li {
    list-style: disc;
    margin: 6px 0;
    line-height: 1.5em
}

.picture-legend strong {
    clear: both;
    display: block;
    text-align: right;
    font-weight: normal;
    padding: 4px;
    font-size: 9px
}

.list-wrap strong {
    font-weight: 100
}


.more {
    margin-bottom: 20px
}

.more h3 strong {
    font-size: 16px
}

.see-more {
    clear: both;
    background: #eee;
    padding: 10px;
    margin: 15px 0
}

.see-more h4 {
    color: #6d6e70;
    font-size: 14px;
    margin-bottom: 5px
}

.see-more li {
    display: inline;
    margin: 0 7px;
    font-size: 11px;
    color: #999
}

.see-more li a {
    color: #666;
    text-decoration: none
}

.see-more li a:hover {
    color: #333
}

.tags {
    font-size: 9px;
    color: #666;
    padding: 5px;
    margin-bottom: 15px
}

.tags em {
    text-transform: lowercase
}

.copyright {
    font-size: 10px;
    color: #666
}

.copyright a {
    font-size: 10px;
    color: #666
}

.thumbnails {
    display: inline-block
}

.thumbnails li {
    float: left;
    width: 180px;
    height: 210px;
    margin: 5px 20px;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 1px #999;
    box-shadow: 0 0 5px 1px #999;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f9f9f9;
    border: solid 1px #999
}

.thumbnails li h2 {
    margin: 0;
    width: 80%;
}

.thumbnails h4 {
    font-size: 14px;
    margin: 5px 0
}

.thumbnails a {
    text-decoration: none;
    color: #495679;
    font-size: 15px;
}

.thumbnails a:hover {
    text-decoration: underline
}

.gallery {
    display: inline-block
}

.gallery li {
    float: left;
    margin: 5px;
    text-align: center
}

.gallery li img {
    border: 1px solid #ccc
}

p.larger-image {
    color: #C00;
    font-size: 11px;
    margin: 0
}

.compartilhe {
    font-size: 0.75em;
    margin: 0.5em 0;
    display: block;
    font-weight: bold
}

.social-media {
    display: inline-block
}

.social-media li {
    float: left;
    margin-right: 10px
}

p.like {
    margin: 5px 0;
    font-size: 11px;
    font-weight: bold
}

.bt-twitter {
    text-indent: -5000px;
    overflow: hidden;
    display: block;
    width: 55px;
    height: 20px;
    background: url(../imagens/icones/tweet.png) no-repeat 0 0
}

.bt-twitter:hover {
    background-position: 0px -20px
}

.bt-facebook {
    text-indent: -5000px;
    overflow: hidden;
    display: block;
    width: 87px;
    height: 20px;
    background: url(../imagens/icones/compartilhar.png) no-repeat 0 0
}

.bt-facebook:hover {
    background-position: 0px -20px
}

.picture-legend {
    background: #eee;
    display: inline-block;
    padding: 3px;
    font-size: 10px
}

.picture-left {
    float: left;
    margin: 10px 10px 10px 0
}

.picture-right {
    float: right;
    margin: 10px 0 10px 10px
}

.picture-center {
    margin: 0 auto;
    display: block
}

.picture-center-index {
    margin: 0 auto;
    display: block;
    background-color: #fff;
    border: 2px solid #465576
}

.picture-center img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.picture-left img {
    display: block;
    margin: 0 auto;
    width: 250px
}

.picture-right img {
    display: block;
    margin: 0 auto;
    width: 100%
}

.related-posting-title {
    font-size: 22px
}

.related-posting {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.row {
    clear: both;
    display: block;
    background: #E8E8E8;
    border-left: 3px solid #E8E8E8;
    padding: 10px 20px;
    min-height: 85px;
    margin: 0 0 2px 0;
    overflow: hidden
}

.row:hover {
    border-left: 3px solid #495679
}

.row img {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    margin: 0 10px 0 0
}

.row p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 0
}

.row a {
    color: #444;
    text-decoration: none
}

.row p a {
    color: #69747b
}

.row strong {
    font-size: 12px
}

.hide {
    position: absolute;
    top: -9999px;
    left: -9999px
}

#servicosTabsDois .list-wrap,
#servicosTabs .list-wrap {
    background: #eee;
    padding: 10px;
    margin: 2px;
    font-size: 10px
}

#servicosTabsDois ul,
#servicosTabs ul {
    list-style: none;
    display: inline-block
}

#servicosTabsDois .list-wrap li,
#servicosTabs .list-wrap li {
    width: 190px;
    float: left;
    color: #666
}

#servicosTabsDois .nav,
#servicosTabs .nav {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    flex-shrink: initial;
    justify-content: center
}

#servicosTabsDois .nav li,
#servicosTabs .nav li {
    float: left;
    margin: 2px
}

#servicosTabsDois .nav li.last,
#servicosTabs .nav li.last {
    margin-right: 0
}

#servicosTabsDois .nav li a,
#servicosTabs .nav li a {
    display: block;
    text-decoration: none;
    padding: 12px;
    background: #bebebe;
    color: #363636;
    font-size: 12px;
    text-align: center;
    border: 0
}

#servicosTabsDois .nav li a:hover,
#servicosTabsDois .nav li a:focus,
#servicosTabs .nav li a:hover,
#servicosTabs .nav li a:focus {
    background: #4e4e4e;
    color: #fff
}

#servicosTabsDois ul li.nav-two a.current,
#servicosTabs ul li.nav-two a.current {
    background-color: #eee !important;
    color: #666
}

footer {
    clear: both;
    margin-top: 15px;
    padding: 15px 0 0 0;
    background: #1c1d26;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.contact-footer {
    float: left;
    color: #979797;
    margin-right: 30px
}

.contact-footer strong {
    font-size: 22px;
    letter-spacing: -1px
}

footer address {
    margin: 0 0 10px 0;
    font-size: 12px;
    font-style: normal;
    line-height: 15px
}

footer address span {
    margin: 0 0 5px 0;
    font-size: 14px;
    font-weight: bold;
    display: block
}

footer .menu-footer {
    text-align: right
}

footer .menu-footer nav {
    margin: 3px 0
}

footer .menu-footer nav li {
    display: inline;
    padding: 0 10px 0 0
}

footer .menu-footer nav li a {
    color: #979797;
    font-size: 13px;
    text-decoration: none
}

footer .menu-footer nav li a:hover {
    color: #fff
}

footer .social {
    margin: 20px 0 0 0;
    float: right
}

footer .social .social-icons {
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 0 0 5px;
    float: right;
    background: url(../imagens/icones/icons-social-midia.png)
}

footer .social .google {
    background-position: 131px 0
}

footer .social .google:hover {
    background-position: 131px 32px
}

footer .social .facebook {
    background-position: 164px 0
}

footer .social .facebook:hover {
    background-position: 164px 32px
}

footer .social .twitter {
    background-position: 197px 0
}

footer .social .twitter:hover {
    background-position: 197px 32px
}

footer .social .linkedin {
    background-position: 98px 0
}

footer .social .linkedin:hover {
    background-position: 98px 32px
}

footer .social .youtube {
    background-position: 32px 0
}

footer .social .youtube:hover {
    background-position: 32px 32px
}

footer .social .email {
    background-position: 65px 0
}

footer .social .email:hover {
    background-position: 65px 32px
}

.copyright-footer {
    text-align: left;
    font-size: 10px;
    line-height: 17px;
    color: #979797;
    padding: 10px
}

.copyright-footer .selos {
    float: right
}

.copyright-footer .selos a {
    margin: 0 0 0 5px
}

.sitemap {
    margin-left: 30px
}

.sitemap li {
    font-size: 15px;
    margin: 10px 0
}

.sitemap li a {
    color: #555;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none
}

.sitemap li a:hover {
    color: #777
}

.sitemap li ul {
    margin-left: 35px
}

.sitemap li ul li {
    margin: 5px 0;
    padding: 0
}

.sitemap li ul li a {
    font-size: 12px;
    color: #777
}

.sitemap li ul li ul li {
    margin: 5px 0
}

.sitemap li ul li ul li a {
    font-size: 13px;
    color: #777
}

.sitemap li a:hover {
    color: #999
}

.msg-404 {
    position: relative;
    font-size: 22px;
    line-height: 34px;
    color: #A7A9AC;
    margin-bottom: 30px
}

.menu-404 {
    background: #F8F8F8;
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
    float: left
}

.menu-404 a {
    display: block;
    margin: 0 auto
}

.contact {
    display: block;
    padding: 0 20px
}

.form {
    float: left
}

.form label {
    width: 185px;
    font-weight: bold;
    padding-right: 5px;
    font-size: 13px;
    display: table-cell;
    vertical-align: middle
}

.form label span {
    font-size: 9px;
    color: #C00
}

.form input,
.form textarea,
.form select {
    margin: 0 0 4px 0;
    padding: 5px;
    border: solid 1px #333;
    border-radius: 3px;
    font-size: 16px
}

.form textarea {
    width: 340px
}

.form input:focus,
.form textarea:focus,
.form select:focus {
    background: #eee
}

.form .ir {
    border: solid 1px #000;
    background: #fff;
    padding: 3px 8px;
    cursor: pointer
}

.bt-submit {
    display: block;
    margin: 5px 0 0 0
}

.form span.obrigatorio {
    font-size: 9px;
    color: #C00
}

.form label.error {
    display: block;
    color: red;
    margin: 0 .5em 0 0;
    vertical-align: top;
    font-size: 10px
}

.help {
    font-size: 11px;
    color: #666
}

.alert {
    color: #FF0000
}

.contact-form {
    float: right;
    width: 40%;
    color: #989898;
    font-size: 11px
}

.full {
    padding: 15px;
    width: 96%
}

.contact-form strong {
    color: #6d6e71
}

.slicknav_menu {
    display: none
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
    section {
        width: 100%
    }

    aside {
        padding: 10px
    }

    header nav a {
        font-size: 12px;
        width: auto
    }

    header nav li {
        width: 16%
    }

    .wrapper {
        width: 96%
    }

    header {
        width: 98%;
        height: 365px
    }

    header .logo a {
        height: 160px
    }

    article {
        width: 68%
    }

    .content-index {
        padding: 0px;
        width: 70%
    }

    .gallery li {
        margin: 4px
    }

    .picture-left {
        width: 30%
    }

    article img {
        max-width: 100%
    }

    #servicosTabsDois .nav li a {
        padding: 10px
    }

    .contact-footer {
        margin: 10px 40px 20px 30px
    }

    footer .menu-footer nav {
        margin: 30px 30px 10px 10px
    }

    footer .social .social-icons {
        margin: 0 12px 0 5px
    }

    .form textarea {
        width: 100%
    }

    .form {
        width: 100%
    }

    .contact-form {
        width: 100%
    }
}

@media only screen and (max-width: 765px) {
    article p {
        max-width: 100%;
        margin: 0;
        padding: 0 2px;
        line-height: 2em;
        margin: 5px 0;
        font-size: 1.2em
    }

    #servicosTabsDois .nav li,
    #servicosTabs .nav li {
        float: left;
        margin: 0 10px 0 0;
        width: 100%
    }

    #servicosTabsDois .nav li,
    #servicosTabs .nav li a {
        padding: 5px 0;
        margin: 0;
        width: 100%
    }

    .btn-orcar {
        position: fixed;
        border: 0;
        bottom: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        left: 0;
        height: 56px;
        cursor: pointer
    }

    body {
        background: #fff;
        font-size: 12px
    }

    #menu {
        display: none
    }

    .slicknav_menu {
        display: block
    }

    .wrapper-topo {
        margin-right: auto;
        margin-left: auto;
        width: 300px
    }

    .wrapper {
        width: 95%
    }

    header {
        height: auto
    }

    header .logo {
        margin-left: auto;
        margin-right: auto;
        height: 140px
    }

    header nav a {
        padding: 10px 26px;
        font-size: 12px
    }

    section img {
        max-width: 100%
    }

    article {
        min-width: 100%;
        padding: 0
    }

    aside {
        width: 100%;
        margin: 0;
        padding: 0
    }

    .sidebar {
        display: none
    }

    .content {
        padding: 0 15px
    }

    .slider-wrapper {
        float: left;
        margin-right: auto;
        margin-left: auto
    }

    .banner-contato {
        padding: 0
    }

    .banner-contato a {
        height: 30px;
        width: 120px;
        margin: 0
    }

    h1,
    h1 a {
        line-height: 0;
        text-decoration: none;
        margin: 0 auto;
        font: 20px tahoma, arial;
        max-width: 100%;
        text-align: center;
        padding: 0 5px !important
    }

    h2,
    h2 a {
        font-size: 16px;
        line-height: 25px;
        max-width: 100%;
        padding: 0 5px !important
    }

    h3,
    h3 a {
        font-size: 14px
    }

    .related-posting-title {
        font-size: 16px
    }


    .thumbnails li {
        width: 70%
    }

    .row:hover {
        border-left: 3px solid #009
    }

    .row {
        padding: 5px 10px;
        min-height: 80px
    }

    #servicosTabsDois .list-wrap li {
        width: 150px
    }

    #servicosTabsDois .nav li a {
        padding: 5px !important;
        font-size: 11px !important
    }

    .row img {
        width: 70px;
        height: 70px
    }

    .picture-center img {
        width: 100%
    }

    .picture-left,
    .picture-right {
        float: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto
    }

    .picture-legend {
        display: block
    }

    .content-index {
        width: 100%;
        padding: 0
    }

    .slider-wrapper {
        display: none
    }

    footer {
        padding: 4px 0px 8px 0px
    }

    .contact-footer strong {
        font-size: 14px
    }

    footer address span {
        font-size: 12px
    }

    footer address {
        font-size: 11px
    }

    footer .menu-footer nav li a {
        font-size: 12px
    }

    .form input,
    .form textarea,
    .form select {
        width: 95%
    }

    .contact-form {
        width: 100%
    }
}

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188em 0 0 0.438em
}

.slicknav_menu .slicknav_no-text {
    margin: 0
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125em;
    height: 0.125em;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25)
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188em
}

.slicknav_nav {
    clear: both
}

.slicknav_nav ul,
.slicknav_nav li {
    display: block
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8em;
    margin: 0 0 0 0.4em
}

.slicknav_nav .slicknav_item {
    cursor: pointer
}

.slicknav_nav .slicknav_row {
    display: block
}

.slicknav_nav a {
    display: block
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    display: inline
}

.slicknav_menu:before,
.slicknav_menu:after {
    content: " ";
    display: table
}

.slicknav_menu:after {
    clear: both
}

.slicknav_menu {
    font-size: 16px
}

.slicknav_btn {
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222222
}

.slicknav_menu .slicknav_menutxt {
    color: #FFF;
    font-weight: bold;
    text-shadow: 0 1px 3px #000
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #f5f5f5
}

.slicknav_menu {
    background: #4c4c4c;
    padding: 5px
}

.slicknav_nav {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 0.875em
}

.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden
}

.slicknav_nav ul {
    padding: 0;
    margin: 0 0 0 20px
}

.slicknav_nav .slicknav_row {
    padding: 5px 10px;
    margin: 2px 5px
}

.slicknav_nav a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
    text-align: left
}

.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a {
    padding: 0;
    margin: 0
}

.slicknav_nav .slicknav_row:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #fff
}

.slicknav_nav a:hover {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #ccc;
    color: #222
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px
}

#title-empresa h2 {
    font-size: 14px;
    background: #E9E9E9;
    padding: 4px 10px;
    line-height: 15px;
    color: #717171;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 10px 0;
    font-weight: 500;
    border-radius: 8px
}

#title-keyword h3 {
    font-size: 12px;
    padding: 0 10px;
    line-height: 15px;
    color: #717171;
    text-decoration: none;
    margin: 0 0 10px 0;
    border-radius: 8px
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-image,
.fancybox-inner,
.fancybox-nav,
.fancybox-nav span,
.fancybox-outer,
.fancybox-skin,
.fancybox-tmp,
.fancybox-wrap,
.fancybox-wrap iframe,
.fancybox-wrap object {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5)
}

.fancybox-inner,
.fancybox-outer {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-iframe,
.fancybox-image {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading,
.fancybox-close,
.fancybox-next span,
.fancybox-prev span {
    background-image: url(images-fancy/fancybox_sprite.png)
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(images-fancy/fancybox_loading.gif) center center no-repeat
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: url(images-fancy/blank.gif);
    -webkit-tap-highlight-color: transparent;
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto
}

.fancybox-lock body {
    overflow: hidden !important
}

.fancybox-lock-test {
    overflow-y: hidden !important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(images-fancy/fancybox_overlay.png)
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: 400 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: 0 0;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, 0.8)
}

.btn-tel {
    padding: 10px;
    background: #283658;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    width: 100%;
    text-transform: uppercase
}

.btn-orcar {
    padding: 10px 0;
    background: #006d1c;
    color: #fff;
    margin: 2px 0;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    width: 100%;
    margin-right: 0;
    text-transform: uppercase
}

.btn-tel:hover {
    cursor: pointer;
    background: #345092
}

.btn-orcar i {
    margin: 0 6px;
    float: left
}

.btn-tel i {
    margin: 0 6px;
    float: left
}

.launcher-load {
    height: 200px;
    margin: 2px 0 20px 0 !important
}

.btn-orcar:hover {
    cursor: pointer;
    background: #1d8838
}

.btn-tel-menu {
    padding: 13px;
    background: #425070;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase
}

.btn-orcar-menu {
    padding: 20px;
    background: #f96900;
    color: #fff;
    font-size: 17px;
    border: none;
    width: 100%;
    text-transform: uppercase
}

#modal.orcamento .modal-footer .btn-proximo {
    padding: 9px 90px;
    width: 100%;
    font-size: 14px;
    color: #fff !important
}

#modal.orcamento .modal-footer {
    text-align: center;
    height: auto !important;
    position: sticky;
    bottom: 0;
    z-index: 2
}

.modal-body {
    width: 96.5%;
    margin: 0 auto;
    background-color: #e8e8e8
}

.modal-form-contato {
    min-width: 100%
}

.modal-form-contato .btn_salvar {
    margin: auto !important
}

.modal-contato-itens>div {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center
}

.modal-contato-itens div.descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column
}

a.botao-anuncio {
    border-radius: 7px !important;
    height: 0px !important;
    width: 150px !important;
    margin-top: 5px !important;
    margin-left: 5px !important;
    line-height: 0px !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 12px !important;
    padding: 15px !important;
    background-color: #007bff !important;
    box-shadow: 1px 1px 3px 0px #0000004b !important;
    border: solid #337FED 1px !important;
    text-decoration: none !important;
    display: inline-block !important;
    cursor: pointer !important;
    text-align: center !important
}

a.botao-anuncio:hover {
    background: #0066d3 !important;
    border: solid #007bff 1px !important;
    border-radius: 7px !important;
    text-decoration: none !important
}

@media only screen and (max-width: 950px) {

    .wrapper,
    nav ul {
        text-align: center;
        list-style: none;
        list-style-image: none;
        display: flex;
        flex-direction: column
    }
}


.article-content {
    padding: 10px 30px 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 15px #999;
}
  
  .article-content h2 {
    font-size: 25px;
    margin-left: 5px;
    font-weight: 700;
    text-align: justify;
    color: #1e376f;
    text-transform: uppercase;
  }
  
  .article-content h3 { 
      color: #0d619f;
      font-size: 18px;
      margin-bottom: -5px;
      text-transform: uppercase;
  }
  
  .article-content p {
    text-align: justify;
    font-size: 16px;
  }

  .article-content strong {
    font-weight: bold;
  }
  
  .article-content ul {
    color: #000;
  }
  
  .article-content li {
    color: #000;
    list-style-type: disc;
    margin-left: 5%;
    font-size: 16px !important;
  }
  
  
  .article-content img {
    float: right;
    margin-top: 2%;
    width: 30%;
    margin-left: 15px;
    mix-blend-mode: multiply;
  }
  
  
  .p-article-content{
    max-width: 60%;
  }
  
  .article-content table {
      border-collapse: collapse;
      width: 100%;
      margin: 15px 0 35px
  }
  
  .article-content th,
  td {
      padding: 8px;
      text-align: left;
      border: 1px solid #686868;
      color: #000;
  }
  
  .article-content th {
      background-color: #d3131a;
      color: #fff;
  }
  
    .article-content a {
      cursor: pointer; 
      color: #006fe6;
      font-weight:bold;
    }
  
  
  .article-content td:hover {
      background-color: #cdcdcd
  }
  /* READMORE */
.ReadMore {
    position: relative;
    height: 900px; /* Altura fixa para mostrar apenas os primeiros 200px */
    overflow: hidden;
  }
  /* guio bola */
  
  .ReadMore.collapsed::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px; /* Altura do gradiente de apagamento */
    background: linear-gradient(to bottom, transparent, white);
  }
  .readmore-button {
    display: inline-block;
    color: #012F73;
    padding: 8px 20px;
    border: 1.5px solid #012F73 !important;
    border-radius: 8px;
    transition: 0.3s;
    margin: 10px;
  }
  .readmore-button a {
    color: #012F73;
    text-decoration: none;
  }
  .readmore-button:hover {
    background-color: #012F73;
    
  }
  .readmore-button:hover a {
    color: #fff;
  }
  
  /* FIM READMORE */
  
  body > div.wrapper > main > section > article > div > div.ReadMore > div > img{
    width: 100% !important;
  }
  .article-content  .ReadMore section h2{
    padding: 0px;
  }

#breadcrumb a{
    text-decoration: none;
    color: #000;
}
ol.breadcrumb{
    display: flex;
}
ol.breadcrumb li{
    margin-right: 5px;
}
ol.breadcrumb li{
    text-decoration: none;
}
body > div.wrapper > main > section > div > ul > li > h2{
    width: auto !important;
}
.thumbnailsHome{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.thumbnailsHome li{
    width: 200px;
    padding: 10px !important;
    margin-top: 10px;
    border: 2px solid #1c1d26;
    background-color: #ebf2f3;
    border-radius: 8px;
    transition: 0.2s ease;
} 
.thumbnailsHome li:hover{
    transition: 0.2s ease;
    padding: 10px 15px !important;
}

.thumbnailsHome li p{
    
    padding: 0px !important;
}   
@media only screen and (max-width: 765px) {
body > div.wrapper > main > section > article > ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
body > div.wrapper > main > section > article > ul > li h2{
    margin: 0 auto;
}
#servicosTabsDois .nav{
    margin: 0 auto;
}
#cotacao-modal .cotacao-modal-content{
    width: 98vw;
}
}

