@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --dark-grey: #4f4f4f;
  --medium-grey: #636363;
  --light-grey: #eeeeee;
  --ash: #f4f4f4;
  --primary-color: #2b72fb;
  --white: white;
  --border: 1px solid var(--light-grey);
  --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.container-wrapper {
  font-family: "Poppins", sans-serif;
}
.menu-header {
  font-family: "Poppins", sans-serif;
  height: 70px;
  display: flex;
}

.fa-xmark {
  display: none;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#nav-menu.fixed-header {
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  z-index: 800;
  margin: 0 auto;
  transform: 0.5s;
  transition: 0.8s;
  box-shadow: 6px 10px 13px -7px rgba(0, 0, 0, 0.26);
}

#nav-menu.fixed-header .container-wrapper {
  height: 90px;
  transition: 0.5s;
}

.button-link-header {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}
.button-link-header,
.hamburguer-mobile {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.btn-header {
  display: block;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}

.icon {
  padding: 0.5rem;
  background-color: var(--light-grey);
  border-radius: 10px;
}

.logo-header {
  margin-right: 1.5rem;
}

#nav-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: fixed;
  background-color: var(--white);
  width: 100%;
  z-index: 800;
  margin: 0 auto;
  transition: 0.9s; /* Anima a propriedade top */
  transform: 1s;
}

.container-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 1.2rem 3rem;
  transition: 0.5s;
}

.menu-header {
  position: relative;
  background: transparent;
}

.menu-bar-header li:first-child .dropdown-header {
  flex-direction: initial;
  min-width: 480px;
}

.menu-bar-header li:first-child ul:nth-child(1) {
  border-right: var(--border);
}

.menu-bar-header .dropdown-link-title-header {
  font-weight: 700;
  color: #2d2d2f;
}

.menu-bar-header .nav-link-header {
  font-size: 0.9em;
  font-weight: 500;
  min-width: 60px;
  margin: 0 0.2rem;
  color: #2d2d2f;
  transition: 0.7s;
  gap: 10px;
  padding: 15px;
  font-family: "Poppins";
  /* color: var(--white); */
}

.nav-link-header:hover {
  background-color: #ececec;
}

.dropdown-link-header {
  font-size: 0.9em;
  font-weight: 400;
  color: #2d2d2f;
}

.menu-bar-header .nav-link-header:hover,
.dropdown-link-header:hover {
  color: var(--cor-dourada);
}
.dropdown-link-header:hover {
  background-color: #ececec;
}
.nav-start {
  gap: 20px;
}

.nav-start-header,
.nav-end-header,
.menu-bar-header,
.right-container-header,
.right-container-header .search {
  display: flex;
  align-items: center;
  gap: 30px;
}

.dropdown-header {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.97) translateX(-5px);
  transition: 0.1s ease-in-out;
  box-shadow: var(--shadow);
}

.dropdown-header.active {
  visibility: visible;
  opacity: 1;
  transform: scale(1) translateX(5px);
}

.dropdown-header ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  font-size: 0.95rem;
}

.fa-chevron-right {
  font-size: 0.7em;
}

.dropdown-btn-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.15rem;
  color: var(--terceira-cor);
  border-radius: 4px;
}

.fa-chevron-right {
  transition: 0.3s;
}

.fa-chevron-right.rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

.dropdown-link-header {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem 0.3rem;
  transition: 0.1s ease-in-out;
  transition: 0.5s;
}

.dropdown-link-header p {
  font-size: 0.8rem;
  color: var(--medium-grey);
}

.right-container-header {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.right-container-header .search {
  position: relative;
}

.right-container-header img {
  border-radius: 50%;
}

.search input {
  background-color: var(--ash);
  border: none;
  border-radius: 6px;
  padding: 0.7rem;
  padding-left: 2.4rem;
  font-size: 16px;
  width: 100%;
  border: var(--border);
}

.menu-header.show .nav-link-header {
  color: #2d2d2f;
}

.menu-header.show .menu-bar-header {
  background-color: #fff;
  box-shadow: 6px 10px 13px -7px rgba(0, 0, 0, 0.26);
}

#hamburger {
  display: none;
  padding: 0.1rem;
  margin-left: 1rem;
  font-size: 1.9rem;
  color: #2d2d2f;
}

@media (max-width: 1100px) {
  #hamburger {
    display: block;
  }

  .relevancia-info {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-relevancia-info1 {
    width: 100%;
  }

  .fa-chevron-right {
    transition: 0.3s;
  }

  .fa-chevron-right.rotate {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
  }

  .container-wrapper {
    padding: 1.2rem;
  }
  #nav-menu.fixed-header {
    background-color: var(--white);
  }
  

  .menu-header {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: 200;
    overflow-x: scroll;
  }

  .menu-bar-header {
    margin: 0 !important;
  }

  .menu-bar-header li:first-child ul:nth-child(1) {
    border-right: none;
    border-bottom: var(--border);
  }

  .dropdown-header {
    display: none;
    min-width: 100%;
    border: none !important;
    border-radius: 5px;
    position: static;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    transform: none;
    box-shadow: none;
  }

  .menu-header.show,
  .dropdown-header.active {
    display: block;
  }


  .menu-header.show {
    background-color: transparent;
  }

  .dropdown-header ul {
    padding-left: 0.3rem;
    max-height: 200px;
    overflow-y: scroll;
  }

  .menu-bar-header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1rem;
    padding: 1rem;
  }

  .menu-bar-header .nav-link-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
  }

  .menu-bar-header li:first-child .dropdown-header {
    min-width: 100%;
  }

  .menu-bar-header > li:not(:last-child) {
    padding-bottom: 0.5rem;
    border-bottom: var(--border);
  }
}

@media (max-width: 600px) {
  .right-container-header {
    display: none;
  }
}
